@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@layer theme, base, mui, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-primary: #cc3363;
  --color-card: #212223;
  --shadow-card: 0 0 2px #ffffff70;
  --shadow-app: 0 4px 12px rgba(0, 0, 0, 0.1);
  --breakpoint-xs: 28rem;
  --breakpoint-sm: 37.5rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 106rem;
}

* {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  display: none;
  background-color: transparent;
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px #cc3363;
  border: solid 3px transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}
